.box {
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    }

.container{
    width: 100vh;
    height: 200px;
    background-color: #5b5b5b; }
    
.box h4 {
    list-style-type: none;
}